<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}

    <head>
        <title>{% block title %}Spark{% endblock %}</title>  <!--title block-->

        {% block scripts %}<link rel="stylesheet" href="/client/css/home.css"> {% endblock %}
    </head>

    <body>
        <main>
            <section>
                <div class="main-text">
                    Get Started on Spark
                    <br>
                    <a class="link" href="/create-profile">Create Your Profile</a>
                </div>
            </section>
        </main>
    </body>
</html>