.main-link {
    text-align: center;
    font-size: 18px;
    color: magenta;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

button {
    background-color: purple;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px
}