<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> <!--define character encoding-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--scaling for mobile devies-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!--ensures page is rendedered in older browswers-->
        <title>{% block title %}Spark{% endblock %}</title>  <!--title block-->

        <!--styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> <!--common styles-->
        {% block styles %}{% endblock %} <!--page specific styles-->

    </head>

    <body>
        <!--common page header-->
        <header>
            <nav class="nav">
                <div class="link-container">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/view-profile">My Profile</a>
                    <a class="link" href="/view-recommendations">Recommendations</a>
                </div>
            </nav>

            <h1>Spark</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %} <!--page specific scripts-->
    </body>
</html>