
{% extends 'base.html' %}

<!--extended head-->>
{% block title %}Create Profile{% endblock %}</title>  <!--title block-->

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create-profile.css') }}"> 
{% endblock %}

<!--extended body-->
    <!--extended main-->>
    {% block content %}
        <h2>Enter Your personal information</h2>

        <form id="profile">
            <!--form boxes-->
            <div class="form-group">
                <label for="first">First name:</label>
                <input id="first"/>
            </div>

            <div class="form-group">
                <label for="last">Last name:</label>
                <input id="first"/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="time"/>
            </div>   

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age"/>
            </div>

            
        </form>
    {% endblock %}
    <!--end main-->
    
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/create-profile.js') }}" defer></script>
    {% endblock %}
<!--end body-->