{% extends 'base.html' %}

<!--extended head-->>
{% block title %}Spark{% endblock %}</title>  <!--title block-->

{% block scripts %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> {% endblock %}

<!--extended body-->
    <!--extended main-->>
    {% block content %}
        <section>
            <div class="main-text">
                Get Started on Spark
                <br>
                <a class="main-link" href="/create-profile">Create Your Profile</a>
            </div>
        </section>
    {% endblock %}
    <!--end main-->
<!--end body-->