{% extends 'base.html' %}

<!--extended head-->>
{% block title %}Spark{% endblock %}</title>  <!--title block-->

{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> {% endblock %}

<!--extended body-->
    <!--extended main-->>
    {% block content %}
        <section>
            <div class="main-text">
                <h2>Get Started on Spark</h2>
                <a class="main-link" href="/create-account">Create Your Profile</a>

                <form id="login">
                    <h3>Already a Member? Login:</h3>
                    
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input id="username" name="username" required/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required/>
                    </div>

                    <div class="button-container">
                        <button id="login-btn">Login</button>
                    </div>
                </form>
            </div>
        </section>
    {% endblock %}
    <!--end main-->

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
    {% endblock %}
<!--end body-->