{% extends 'base.html' %}

<!--extended head-->
{% block title %}Update Profile{% endblock %}</title>  <!--title block-->

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update-profile.css') }}"> 
{% endblock %}

<!--extended body-->
    <!--extended main-->
    {% block content %}
    <div class "form-container">
        <h2>Enter Your personal information</h2>

        <form id="profileForm">
            <!--form boxes-->
            <!--fields required on account creation. all can be updated-->
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username"/>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password"/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email"/>
            </div> 

            <div class="form-group">
                <label for="first">First name:</label>
                <input id="first"/>
            </div>

            <div class="form-group">
                <label for="last">Last name:</label>
                <input id="last"/>
            </div>  

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age"/>
            </div>

            <!--additional information fields-->
            <div class="form-group">
                <label for="occupation">Occupation:</label>
                <input id="occupation"/>
            </div>

            <div class="form-group">
                <label for="geneder">Gender:</label>
                <select id="gender" name="gender" onchange="toggleOtherInput(this)">
                    <option value ="">"Please Select"</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="nonbinary">Nonbinary</option>
                    <option value="transgender">Transgender</option>
                    <option value="other">Other</option>
                </select>

                <input type="text" id="otherInputGender" name="otherTextGender" placeholder="Please specify or leave blank" style="display: none;">
            </div>

            <div class="checkbox-group">
                <h3>
                    Who would you like to connect with?
                    <br> Select all that apply.
                </h3>
                <label>
                    <input type="checkbox" name="men" value="men" class="matchOption"> Men
                </label>
                <label>
                    <input type="checkbox" name="women" value="women" class="matchOption"> Women
                </label>
                <label>
                    <input type="checkbox" name="nonbinary" value="nonbinary" class="matchOption"> Nonbinary
                </label>
                <label>
                    <input type="checkbox" name="transgender" value="transgender" class="matchOption"> Transgender
                </label>
                <label>
                    <input type="checkbox" name="all" value="all" id="selectAll" onchange="toggleAll()"> Everyone
                </label> <br>
            </div>

            <div class="form-group">
                <label for="politics">Political Views:</label>
                <select id="politics" name="politics" onchange="toggleOtherInput(this)">
                    <option value ="">"Please Select"</option>
                    <option value="conservative">Conservative</option>
                    <option value="moderate">Moderate</option>
                    <option value="liberal">Liberal</option>
                    <option value="not">Not Political</option>
                    <option value="other">Other</option>
                    <option value="not">Prefer not to say</option>
                  </select>

                  <input type="text" id="otherInputPolitics" name="otherTextPolitics" placeholder="Please specify or leave blank" style="display: none;">
            </div>

            <div class="form-group">
                <label for="religion">Religion:</label>
                <select id="religion" name="religion" onchange="toggleOtherInput(this)">
                    <option value ="">"Please Select"</option>
                    <option value="agnostic">Agnostic</option>
                    <option value="athiest">Athiest</option>
                    <option value="buddhist">Budhist</option>
                    <option value="catholic">Catholic</option>
                    <option value="christian">Christian</option>
                    <option value="hindu">Hindu</option>
                    <option value="jewish">Jewish</option>
                    <option value="muslim">Muslim</option>
                    <option value="spiritual">Spiritual</option>
                    <option value="other">Other</option>
                    <option value="not">Prefer not to say</option>
                  </select>

                  <input type="text" id="otherText" name="otherText" placeholder="Please specify or leave blank" style="display: none;">
            </div>

            <div class="form-group">
                <label for="wantChildren">Family Plans:</label>
                <select id="wantChildren" name="wantChildren">
                    <option value ="">"Please Select"</option>
                    <option value="want">Want children</option>
                    <option value="open">Open to chidren</option>
                    <option value="unsure">Not sure yet</option>
                    <option value="dont">Don't want children</option>
                    <option value="not">Prefer not to say</option>
                </select>
            </div>

            <div class="form-group">
                <label for="haveChildren">Have children?:</label>
                <select id="haveChildren" name="haveChildren">
                    <option value ="">"Please Select"</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="not">Prefer not to say</option>
                </select>
            </div>

            <!--buttons-->
            <div class="button-container">
                <button id="submit">Submit</button>
                <button id="clear">Clear</button>
                <button id="cancel">Cancel</button>
            </div>
            
        </form>
    </div>
    {% endblock %}
    <!--end main-->
    
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/update-profile.js') }}" defer></script>
    {% endblock %}
<!--end body-->