{% extends 'base.html' %}

<!--extended head-->
{% block title %}My Profile{% endblock %}</title>  <!--title block-->

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view-profile.css') }}"> 
{% endblock %}

<!--extended body-->
    <!--extended main-->
    {% block content %}
        <h2>My Profile</h2>

        <div id="profileContainer"></div>
        
        <a href="/update-profile" id="edit-btn" class="link-btn">Edit Profile</a>
    {% endblock %}
    <!--end main-->
    
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/view-profile.js') }}" defer></script>
    {% endblock %}
<!--end body-->